<div id="popupContainer">

<!--弹窗 选择号码 6个号码 1-6 -->
<div id="popup_num6" class="C8_TCpopupA" style="margin-top: -95px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择号码</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">1</span>
                        <span class="C8_Qiu">2</span>
                        <span class="C8_Qiu">3</span>
                        <span class="C8_Qiu">4</span>
                        <span class="C8_Qiu">5</span>
                        <span class="C8_Qiu">6</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择单双大小-->
<div id="popup_dan_da" class="C8_TCpopupA" style="display: none;">
    <div class="C8_Ttitle">
        <h3>请选择单双大小</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                            <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <span class="daxiaoContainer">
                            <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 10个号码0-9 、单、大-->
<div id="popup_10_dan_da" class="C8_TCpopupA" style="margin-top: -117px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">0</span>
                        <span class="C8_Qiu">1</span>
                        <span class="C8_Qiu">2</span>
                        <span class="C8_Qiu">3</span>
                        <span class="C8_Qiu">4</span>
                        <span class="C8_Qiu">5</span>
                        <span class="C8_Qiu">6</span>
                        <span class="C8_Qiu">7</span>
                        <span class="C8_Qiu">8</span>
                        <span class="C8_Qiu">9</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                            <span class="C8_Qiu C8_Qiu_10">单</span>
                        <span class="C8_Qiu C8_Qiu_11">双</span>
                        </span>
                <span class="daxiaoContainer">
                            <span class="C8_Qiu C8_Qiu_12">大</span>
                        <span class="C8_Qiu C8_Qiu_13">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 10个号码 0-9 -->
<div id="popup_10" class="C8_TCpopupA" style="margin-top: -95px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择号码</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">0</span>
                        <span class="C8_Qiu">1</span>
                        <span class="C8_Qiu">2</span>
                        <span class="C8_Qiu">3</span>
                        <span class="C8_Qiu">4</span>
                        <span class="C8_Qiu">5</span>
                        <span class="C8_Qiu">6</span>
                        <span class="C8_Qiu">7</span>
                        <span class="C8_Qiu">8</span>
                        <span class="C8_Qiu">9</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 33个号码-->
<div id="popup_num33" class="C8_TCpopupA" style="margin-top: -171px; display: none;">

    <div class="C8_Ttitle">
        <h3>请选择选号</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>

                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        <span class="C8_Qiu">13</span>
                        <span class="C8_Qiu">14</span>
                        <span class="C8_Qiu">15</span>
                        <span class="C8_Qiu">16</span>
                        <span class="C8_Qiu">17</span>
                        <span class="C8_Qiu">18</span>
                        <span class="C8_Qiu">19</span>
                        <span class="C8_Qiu">20</span>
                        <span class="C8_Qiu">21</span>
                        <span class="C8_Qiu">22</span>
                        <span class="C8_Qiu">23</span>
                        <span class="C8_Qiu">24</span>
                        <span class="C8_Qiu">25</span>
                        <span class="C8_Qiu">26</span>
                        <span class="C8_Qiu">27</span>
                        <span class="C8_Qiu">28</span>
                        <span class="C8_Qiu">29</span>
                        <span class="C8_Qiu">30</span>
                        <span class="C8_Qiu">31</span>
                        <span class="C8_Qiu">32</span>
                        <span class="C8_Qiu">33</span>
                    </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 16个号码-->
<div id="popup_num16" class="C8_TCpopupA" style="margin-top: -114px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择选号</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        <span class="C8_Qiu">13</span>
                        <span class="C8_Qiu">14</span>
                        <span class="C8_Qiu">15</span>
                        <span class="C8_Qiu">16</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择单双-->
<div id="popup_dan" class="C8_TCpopupA" style="display: none;">
    <div class="C8_Ttitle">
        <h3>请选择单双</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择大小-->
<div id="popup_daxiao" class="C8_TCpopupA" style="display: none;">
    <div class="C8_Ttitle">
        <h3>请选择大小</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="daxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 35个号码-->
<div id="popup_num35" class="C8_TCpopupA" style="margin-top: -171px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择选号</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        <span class="C8_Qiu">13</span>
                        <span class="C8_Qiu">14</span>
                        <span class="C8_Qiu">15</span>
                        <span class="C8_Qiu">16</span>
                        <span class="C8_Qiu">17</span>
                        <span class="C8_Qiu">18</span>
                        <span class="C8_Qiu">19</span>
                        <span class="C8_Qiu">20</span>
                        <span class="C8_Qiu">21</span>
                        <span class="C8_Qiu">22</span>
                        <span class="C8_Qiu">23</span>
                        <span class="C8_Qiu">24</span>
                        <span class="C8_Qiu">25</span>
                        <span class="C8_Qiu">26</span>
                        <span class="C8_Qiu">27</span>
                        <span class="C8_Qiu">28</span>
                        <span class="C8_Qiu">29</span>
                        <span class="C8_Qiu">30</span>
                        <span class="C8_Qiu">31</span>
                        <span class="C8_Qiu">32</span>
                        <span class="C8_Qiu">33</span>
                        <span class="C8_Qiu">34</span>
                        <span class="C8_Qiu">35</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 12个号码-->
<div id="popup_num12" class="C8_TCpopupA" style="margin-top: -114px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择选号</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择波色-->
<div id="popup_color" class="C8_TCpopupA" style="display: none;">
    <div class="C8_Ttitle">
        <h3>请选择波色</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="colorContainer">
                        <span class="C8_Qiu">红</span>
                        <span class="C8_Qiu">绿</span>
                        <span class="C8_Qiu">蓝</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>
<!--弹窗 选择12生肖-->
<div id="popup_animal" class="C8_TCpopupA" style="margin-top: -114px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="animalContainer">
                        <span class="C8_Qiu">鼠</span>
                        <span class="C8_Qiu">牛</span>
                        <span class="C8_Qiu">虎</span>
                        <span class="C8_Qiu">兔</span>
                        <span class="C8_Qiu">龙</span>
                        <span class="C8_Qiu">蛇</span>
                        <span class="C8_Qiu">马</span>
                        <span class="C8_Qiu">羊</span>
                        <span class="C8_Qiu">猴</span>
                        <span class="C8_Qiu">鸡</span>
                        <span class="C8_Qiu">狗</span>
                        <span class="C8_Qiu">猪</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 49个号码-->
<div id="popup_num49" class="C8_TCpopupA" style="margin-top: -195px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择选号</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        <span class="C8_Qiu">13</span>
                        <span class="C8_Qiu">14</span>
                        <span class="C8_Qiu">15</span>
                        <span class="C8_Qiu">16</span>
                        <span class="C8_Qiu">17</span>
                        <span class="C8_Qiu">18</span>
                        <span class="C8_Qiu">19</span>
                        <span class="C8_Qiu">20</span>
                        <span class="C8_Qiu">21</span>
                        <span class="C8_Qiu">22</span>
                        <span class="C8_Qiu">23</span>
                        <span class="C8_Qiu">24</span>
                        <span class="C8_Qiu">25</span>
                        <span class="C8_Qiu">26</span>
                        <span class="C8_Qiu">27</span>
                        <span class="C8_Qiu">28</span>
                        <span class="C8_Qiu">29</span>
                        <span class="C8_Qiu">30</span>
                        <span class="C8_Qiu">31</span>
                        <span class="C8_Qiu">32</span>
                        <span class="C8_Qiu">33</span>
                        <span class="C8_Qiu">34</span>
                        <span class="C8_Qiu">35</span>
                        <span class="C8_Qiu">36</span>
                        <span class="C8_Qiu">37</span>
                        <span class="C8_Qiu">38</span>
                        <span class="C8_Qiu">39</span>
                        <span class="C8_Qiu">40</span>
                        <span class="C8_Qiu">41</span>
                        <span class="C8_Qiu">42</span>
                        <span class="C8_Qiu">43</span>
                        <span class="C8_Qiu">44</span>
                        <span class="C8_Qiu">45</span>
                        <span class="C8_Qiu">46</span>
                        <span class="C8_Qiu">47</span>
                        <span class="C8_Qiu">48</span>
                        <span class="C8_Qiu">49</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 30个号码-->
<div id="popup_num30" class="C8_TCpopupA" style="margin-top: -171px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择选号</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        <span class="C8_Qiu">13</span>
                        <span class="C8_Qiu">14</span>
                        <span class="C8_Qiu">15</span>
                        <span class="C8_Qiu">16</span>
                        <span class="C8_Qiu">17</span>
                        <span class="C8_Qiu">18</span>
                        <span class="C8_Qiu">19</span>
                        <span class="C8_Qiu">20</span>
                        <span class="C8_Qiu">21</span>
                        <span class="C8_Qiu">22</span>
                        <span class="C8_Qiu">23</span>
                        <span class="C8_Qiu">24</span>
                        <span class="C8_Qiu">25</span>
                        <span class="C8_Qiu">26</span>
                        <span class="C8_Qiu">27</span>
                        <span class="C8_Qiu">28</span>
                        <span class="C8_Qiu">29</span>
                        <span class="C8_Qiu">30</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择龙、虎-->
<div id="popup_lh" class="C8_TCpopupA" style="margin-top: -114px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="sxContainer">
                        <span class="C8_Qiu">龙</span>
                        <span class="C8_Qiu">虎</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 11个号码 1-11 、单、大-->
<div id="popup_11_dan_da" class="C8_TCpopupA" style="margin-top: -117px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu C8_Qiu_1">01</span>
                        <span class="C8_Qiu C8_Qiu_2">02</span>
                        <span class="C8_Qiu C8_Qiu_3">03</span>
                        <span class="C8_Qiu C8_Qiu_4">04</span>
                        <span class="C8_Qiu C8_Qiu_5">05</span>
                        <span class="C8_Qiu C8_Qiu_6">06</span>
                        <span class="C8_Qiu C8_Qiu_7">07</span>
                        <span class="C8_Qiu C8_Qiu_8">08</span>
                        <span class="C8_Qiu C8_Qiu_9">09</span>
                        <span class="C8_Qiu C8_Qiu_10">10</span>
                        <span class="C8_Qiu C8_Qiu_11">11</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <span class="daxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择单、大、龙、东、中-->
<div id="popup_kl10" class="C8_TCpopupA" style="margin-top: -184px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <span class="daxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>合单双</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="lastdanContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>尾大小</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="totaldaxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="sxContainer">
                        <span class="C8_Qiu">龙</span>
                        <span class="C8_Qiu">虎</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="directionContainer">
                        <span class="C8_Qiu">东</span>
                        <span class="C8_Qiu">南</span>
                        <span class="C8_Qiu">西</span>
                        <span class="C8_Qiu">北</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="zhongfabaiContainer">
                        <span class="C8_Qiu">中</span>
                        <span class="C8_Qiu">发</span>
                        <span class="C8_Qiu">白</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择单双、大小、合单双、尾大小、龙虎、东、中-->
<div id="popup_kl10_5_8" class="C8_TCpopupA" style="margin-top: -184px; display: none;">
        <div class="C8_Ttitle">
            <h3>请选择玩法</h3>
        </div>
        <div class="C8_Tcontent">
            <dl class="C8_TcDl">
                <dt>
                    <p>选择</p>
                    <span></span>
                    <div style="clear: both;"></div>
                </dt>
                <dd>
                    <span class="danContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                    </span>
                    <span class="daxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                    </span>
                    <div style="clear: both;"></div>
                </dd>
            </dl>
            <dl class="C8_TcDl">
                <dt>
                    <p>合单双</p>
                    <span></span>
                    <div style="clear: both;"></div>
                </dt>
                <dd>
                    <span class="lastdanContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                    </span>
                    <div style="clear: both;"></div>
                </dd>
            </dl>
            <dl class="C8_TcDl">
                <dt>
                    <p>尾大小</p>
                    <span></span>
                    <div style="clear: both;"></div>
                </dt>
                <dd>
                    <span class="totaldaxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                    </span>
                    <div style="clear: both;"></div>
                </dd>
            </dl>
            <dl class="C8_TcDl">
                <dt>
                    <p>选择</p>
                    <span></span>
                    <div style="clear: both;"></div>
                </dt>
                <dd>
                    <span class="directionContainer">
                        <span class="C8_Qiu">东</span>
                        <span class="C8_Qiu">南</span>
                        <span class="C8_Qiu">西</span>
                        <span class="C8_Qiu">北</span>
                    </span>
                    <div style="clear: both;"></div>
                </dd>
            </dl>
            <dl class="C8_TcDl">
                <dt>
                    <p>选择</p>
                    <span></span>
                    <div style="clear: both;"></div>
                </dt>
                <dd>
                    <span class="zhongfabaiContainer">
                        <span class="C8_Qiu">中</span>
                        <span class="C8_Qiu">发</span>
                        <span class="C8_Qiu">白</span>
                    </span>
                    <div style="clear: both;"></div>
                </dd>
            </dl>
        </div>
        <ul class="C8_Tbtn">
            <li class="cancelButton">
                <a href="javascript:;">
                    <img src="/images/69_1.png">
                    <span>取消</span>
                </a>
            </li>
            <li class="confirmButton">
                <a href="javascript:;">
                    <img src="/images/69_2.png">
                    <span>确认</span>
                </a>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>

<!--弹窗 选择号码 10个号码1-10 、单、大、龙-->
<div id="popup_dan_da_lh" class="C8_TCpopupA" style="margin-top: -138px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                            <span class="C8_Qiu">1</span>
                        <span class="C8_Qiu">2</span>
                        <span class="C8_Qiu">3</span>
                        <span class="C8_Qiu">4</span>
                        <span class="C8_Qiu">5</span>
                        <span class="C8_Qiu">6</span>
                        <span class="C8_Qiu">7</span>
                        <span class="C8_Qiu">8</span>
                        <span class="C8_Qiu">9</span>
                        <span class="C8_Qiu">10</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                            <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <span class="daxiaoContainer">
                            <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="sxContainer">
                            <span class="C8_Qiu">龙</span>
                        <span class="C8_Qiu">虎</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

<!--弹窗 选择号码 10个号码1-10 、单、大-->
<div id="popup_1_10_dan_da" class="C8_TCpopupA" style="margin-top: -138px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                            <span class="C8_Qiu">1</span>
                        <span class="C8_Qiu">2</span>
                        <span class="C8_Qiu">3</span>
                        <span class="C8_Qiu">4</span>
                        <span class="C8_Qiu">5</span>
                        <span class="C8_Qiu">6</span>
                        <span class="C8_Qiu">7</span>
                        <span class="C8_Qiu">8</span>
                        <span class="C8_Qiu">9</span>
                        <span class="C8_Qiu">10</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                            <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <span class="daxiaoContainer">
                            <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>


<!--弹窗 选择号码 12个号码 1-12 、单、大-->
<div id="popup_12_dan_da" class="C8_TCpopupA" style="margin-top: -117px; display: none;">
    <div class="C8_Ttitle">
        <h3>请选择玩法</h3>
    </div>
    <div class="C8_Tcontent">
        <dl class="C8_TcDl">
            <dt>
                <p>选号</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="numContainer">
                        <span class="C8_Qiu">01</span>
                        <span class="C8_Qiu">02</span>
                        <span class="C8_Qiu">03</span>
                        <span class="C8_Qiu">04</span>
                        <span class="C8_Qiu">05</span>
                        <span class="C8_Qiu">06</span>
                        <span class="C8_Qiu">07</span>
                        <span class="C8_Qiu">08</span>
                        <span class="C8_Qiu">09</span>
                        <span class="C8_Qiu">10</span>
                        <span class="C8_Qiu">11</span>
                        <span class="C8_Qiu">12</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
        <dl class="C8_TcDl">
            <dt>
                <p>选择</p>
                <span></span>
                <div style="clear: both;"></div>
            </dt>
            <dd>
                <span class="danContainer">
                        <span class="C8_Qiu">单</span>
                        <span class="C8_Qiu">双</span>
                        </span>
                <span class="daxiaoContainer">
                        <span class="C8_Qiu">大</span>
                        <span class="C8_Qiu">小</span>
                        </span>
                <div style="clear: both;"></div>
            </dd>
        </dl>
    </div>
    <ul class="C8_Tbtn">
        <li class="cancelButton">
            <a href="javascript:;">
                <img src="/images/69_1.png">
                <span>取消</span>
            </a>
        </li>
        <li class="confirmButton">
            <a href="javascript:;">
                <img src="/images/69_2.png">
                <span>确认</span>
            </a>
        </li>
        <div style="clear: both;"></div>
    </ul>
</div>

</div>

<!--已封盘-->
<div id="fengpan" class="YiFengPan" style="display: none;">
    <h3 id="fenpanTime" class="YFP_H3">已封盘</h3>
</div>