@{
    ViewBag.Title = "CommissionRules";
    int platForm = ViewBag.Platform;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>规则</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
</head>

<body>
@if (platForm != 1)
{
    <header class="hjc_header">
        <a href="/Personal/MyCommission" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">规则</a>
    </header>
}
    <div class="GZ_Lnav">
        <ul class="Lnav_Ul" style="padding-top:@(platForm==1?"0":"50px;")" >
            <li class="current">收费专家说明</li>
            <li>专家升降级</li>
            <li>我的佣金说明</li>
        </ul>
    </div>
    <div class="GZ_text"  style="margin-top:@(platForm==1?"10px":"60px;")">
        <div class="GZ_tInfo">
            <p>系统根据用户在每个彩种参与竞猜所获得的积分值进行判断，单个彩种所有玩法所获得积分满100自动升级为专家，其中不包含总积分，仅限于单个彩种类目下使用。</p>
        </div>
        <div class="GZ_tInfo" style="display:none;">
            <p>系统根据用户在每个彩种参与竞猜所扣除的积分值进行判断，如单个彩种所有玩法原有所获得的积分值被扣除为低于100时将自动降级为普通玩家。</p>
        </div>
        <div class="GZ_tInfo" style="display:none;">
            <p>1、“我的佣金”指的当用户成为收费专家后参与发布竞猜贴，被其他用户付费点阅后可获得百分之五十的佣金收入，这部分收入的金币可进行提现。</p>
            <p>2、“我的佣金”还包括被打赏的收入，指的是当用户参与竞猜发布竞猜贴，被其他用户支付金币打赏，可获得百分之六十的收入，这部分收入与佣金收入合并的金币可进行提现。</p>
        </div>
        <div class="GZ_tInfo" style="display:none;">
            <p>打赏我的说明打赏我的说明打赏我的说明打赏我的说明打赏我的说明打赏我的说明打赏我的说明打赏我的说明打赏我的说明</p>
        </div>
    </div>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
