@{
    ViewBag.Title = "ModifyPassword";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-设置-修改密码</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <script src="~/js/jquery-1.8.3.min.js"></script>
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/dialog.min.js"></script>
    <script src="~/js/yjp.js"></script>
    <script>

        $(function () {
            modiflypwd();
          
        });

        function modiflypwd()
        {
            $("#btnconfirm").click(function () {
                var oldpwd = $("#oldpwd").val();
                var newpwd = $("#newpwd").val();
                var cfnewpwd = $("#cfnewpwd").val();
                if (oldpwd.length == 0) {
                    alertmsg("旧密码不能为空")
                    return false;
                }
                if (newpwd.length == 0) {
                    alertmsg("新密码不能为空")
                    return false;
                } else if (newpwd.length < 6 || newpwd.length > 12) {
                    alertmsg("密码长度为6-12位");
                    return false;
                }
                if (cfnewpwd.length == 0) {
                    alertmsg("确认密码不能为空");
                    return false;
                } else {
                    if (cfnewpwd != newpwd) {
                        alertmsg("两次密码输入不一致、请重新输入");
                        return false;
                    }
                }
                $.post('/Personal/ModifyPWD', { oldpwd: oldpwd, newpwd: newpwd }, function (data) {
                    if (data.Success != true) {
                        alertmsg(data.Msg);
                    } else {
                        alertmsg("修改成功");
                    }
                });

            });
         

        }




    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Set" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">修改密码</a>
    </header>

    <div class="Set_Box">
        <ul class="Set_Bul1">
            <li><input type="password" id="oldpwd" placeholder="输入旧密码" class="Bul1_iptA"><i class="Bul1_del"></i></li>
            <li><input type="password" id="newpwd" placeholder="输入新密码" class="Bul1_iptA"><i class="Bul1_del"></i></li>
            <li><input type="password" id="cfnewpwd" placeholder="确认新密码" class="Bul1_iptA"><i class="Bul1_del"></i></li>
        </ul>
        <button class="Set_btnMM" id="btnconfirm">确认修改</button>
    </div>


</body>
</html>

