
@{
    var MyYj = ViewBag.MyYj;
    var Txing = ViewBag.Txing;
    var Txleiji = ViewBag.Txleiji;
    var KeTx = ViewBag.KeTx;

    ViewBag.Title = "MyCommission";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>我的佣金</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="~/css/mescroll.min.css" rel="stylesheet" />
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/luo/mescroll.min.js"></script>
    <script src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>

</head>

<body style="background:#eee;overflow:hidden;">

    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的佣金</a>
        <a href="/Amount/BindingBankCard" class="SX_A">绑定账户</a>
    </header>

    <div class="sion_header">
        <div class="sion_hdInfo1">
            <div class="HdIf1_l f-l">
                <h3>@MyYj</h3>
                <a href="/Personal/CommissionRules"><p>我的佣金</p></a> 
            </div>
            <a href="/Amount/ExtractCash" class="HdIf1_R f-r">提现</a>
            <div style="clear:both;"></div>
        </div>
        <ul class="sion_hdInfo2">
            <li>
                <a href="javascript:;">
                    <h3>@KeTx</h3>
                    <p>可提现</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h3>@Txing</h3>
                    <p>可提中</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <h3>@Txleiji</h3>
                    <p>累计提现</p>
                </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <div class="sion_hdNav">
            <ul class="C8_nav C8_Myyj">
                <li data-id="1" class="current"><a href="javascript:;"><p>收入明细</p><span></span></a></li>
                <li data-id="2" class=""><a href="javascript:;"><p>提现明细</p><span></span></a></li>
                <div style="clear:both;"></div>
            </ul>
        </div>
    </div>

    <div class="sion_content" >
        <div class="sion_conInfo" >
            <div id="mescroll" class="mescroll">
            
                <div id="dataList" class="data-list">
        
                </div>
            </div>
        </div>
    
    </div>


    <script type="text/javascript">
    $(function () {
        var dh = $(document.body).height() - $(".sion_header").height() - $(".hjc_header").height() - 10;
        $(".sion_conInfo").height(dh);
        var mescroll = new MeScroll("mescroll", {
            //上拉加载的配置项
            up: {
                callback: getListData, 
                isBounce: false, 
                noMoreSize: 1, 
                empty: {
                    icon: "/images/null.png", //图标,默认null
                    tip: "暂无相关数据~", //提示
                    //btntext: "去逛逛 >", //按钮,默认""
                    //btnClick: function(){//点击按钮的回调,默认null
                    //    alert("点击了按钮,具体逻辑自行实现");
                    //} 
                } ,
            page: {
            num: 0, //当前页 默认0,回调之前会加1; 即callback(page)会从1开始
            size: 100, //每页数据条数
            time: null //加载第一页数据服务器返回的时间; 防止用户翻页时,后台新增了数据从而导致下一页数据重复;
            },
                clearEmptyId: "dataList"
            }
        });


        /*初始化菜单*/
        var curNavIndex=1;//收入明细
        $(".C8_Myyj li").click(function(){
            var i=$(this).attr("data-id");
            if(curNavIndex!=i) {
                //更改列表条件
                curNavIndex=i;
                $(".C8_Myyj .current").removeClass("current");
                $(this).addClass("current");
                //重置列表数据
                mescroll.resetUpScroll();
                //隐藏回到顶部按钮
                mescroll.hideTopBtn();
            }
        })


        /*加载列表数据 */
        function getListData(page) {

            console.log(page);
            //联网加载数据
            var dataIndex = curNavIndex;
            getListDataFromNet(dataIndex, page.num, page.size, function (pageData, hasNextPage) {
                //console.log("dataIndex=" + dataIndex + ", curNavIndex=" + curNavIndex + ", page.num=" + page.num + ", page.size=" + page.size + ", pageData.length=" + pageData.length);
             
         
                //设置列表数据
                mescroll.endSuccess(pageData.length, hasNextPage);
                buildHtml(pageData, dataIndex);
            }, function () {
                //隐藏下拉刷新和上拉加载的状态;
                mescroll.endErr();
            });
        }

        function getListDataFromNet(Type, pageIndex, pageSize, successCallback, errorCallback)
        {

            $.ajax({
                type: 'GET',
                data: {
                    Type: Type,
                    pageIndex: pageIndex,
                    pageSize: pageSize
                },
                async:false,
                url: '/Personal/MyCommissionList',
                dataType: 'json',
                success: function(res){

                    if (res.IsSuccess && res.Data) {
                        //回调

                        successCallback(res.Data.PageData,res.Data.HasNextPage);

                    } else {
                        alertmsg("服务器繁忙");
                    }
                },
                error: errorCallback
            });
        }


    });

    function buildHtml(data, curNavIndex) {

        var itemList = [];
        var listDom = $("#dataList");

        $.each(data, function (index, item) {
          
            var moneyhtml = '<p>+<span>' + item.Money + '</span></p>';
            var timehtml = ' <p>' + item.UserName + getDateTime(item.SubTime, 1) + ' </p>';
            var h3html = '';
            if (curNavIndex == 2)
            {
                var text = "";
                if (item.State == 1) {
                    text = "提现中";
                } else if (item.State == 2) {
                    text = "提现失败";
                } else if (item.State == 3) {
                    text = "已到账";
                }

                moneyhtml = '<p><strong class="sion_strH">' + text + '</strong></p>';
                timehtml = ' <p>' + getDateTime(item.SubTime, 2) + '</p>';
            }
            if (curNavIndex == 1)
            {
                h3html = item.Issue+"期";
            } else
            {
                h3html = item.Money;

            }
         
            var itemHtml = '<dl class="details_DL"> <dt><a href="javascript:;"><img src="' + item.LotteryIcon + '"></a></dt>'
            + '<dd>  <div class="details_ddRight">' + moneyhtml + '</div>'
            + '  <div class="details_ddLeft"> <h3><a href="javascript:;">' + h3html + '</a></h3>'
            + timehtml
            + '  </div> </dd> </dl>'
            itemList.push(itemHtml);
        });
        var html = itemList.join('');
        listDom.append(html);

    }

    /* 获取日期时间格式*/
    function getDateTime(dateStr, type) {
        var date = eval('new ' + dateStr.substr(1, dateStr.length - 2));
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hh = date.getHours();
        var mm = date.getMinutes();
        var ss = date.getSeconds();
        if (type == 1) {
            return month + "-" + day + " " + hh + ":" + mm + ":" + ss;
        } else {
            return year + "-" + month + "-" + day + " " + hh + ":" + mm + ":" + ss;
        }

    }

   

    </script>
</body>
</html>

