@using C8.Lottery.Model
@model List<LotteryType>
@{
    Layout = null;
    long userId = ViewBag.UserId;
    int ltype = ViewBag.LType;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>我的计划</title>
    <link rel="stylesheet" type="text/css" href="~/css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/luo/mescroll.min.js"></script>
    <script type="text/javascript" src="~/js/dialog.min.js"></script>
    <script type="text/javascript" src="~/js/yjp.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的计划</a>
        <a href="javascript:;" class="SX_A SX_pop">筛选</a>
    </header>

    <div class="guessing_header">
        <ul class="C8_nav3 C8_JIlU">
            <li class="current" data-index="0"><a href="javascript:;"><p>全部</p><span></span></a></li>
            <li data-index="1"><a href="javascript:;"><p>已开奖</p><span></span></a></li>
            <li data-index="2"><a href="javascript:;"><p>未开奖</p><span></span></a></li>
        </ul>
        <div style="clear:both;"></div>
    </div>

    <div class="details_box mescroll-wrapper" style="height: 100%;">
        <div class="details_info mescroll" id="mescroll0">
            <div id="datalist0" class="data-list">
                
            </div>
        </div>
        <div class="details_info1 mescroll" id="mescroll1" style="display:none;">
            <div id="datalist1" class="data-list">
                
            </div>
        </div>
        <div class="details_info1 mescroll" id="mescroll2" style="display:none;">
            <div id="datalist2" class="data-list">
                
            </div>
        </div>
    </div>

    <div class="ShaiXuan">
        <div class="shaiXuan_yy"></div>
        <div class="shaiXuan_con">
            <ul class="SX_Ul">
                <li class="current"><a href="/Personal/MyPlan">全部</a></li>
                @if (Model != null)
                {
                    foreach (var type in Model)
                    {
                        <li><a href="/Personal/MyPlan/@type.Id">@type.TypeName</a></li>
                    }
                }
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>

    <script type="text/javascript">

        $(function () {
            var curNavIndex = 0;
            var mescrollArr = new Array(3);
            mescrollArr[0]=initMescroll("mescroll0", "datalist0");

            $(".C8_nav3 li").click(function () {
                var _this = $(this),
                    i = _this.attr("data-index");

                if (curNavIndex != i) {
                    _this.addClass("current").siblings().removeClass("current");
                    //隐藏当前列表和回到顶部按钮
                    $("#mescroll"+curNavIndex).hide();
                    mescrollArr[curNavIndex].hideTopBtn();
                    //显示对应的列表
                    $("#mescroll"+i).show().siblings().hide();
                    //取出菜单所对应的mescroll对象,如果未初始化则初始化
                    if(mescrollArr[i]==null){
                        mescrollArr[i]=initMescroll("mescroll"+i, "datalist"+i);
                    }else{
                        //检查是否需要显示回到到顶按钮
                        var curMescroll=mescrollArr[i];
                        var curScrollTop=curMescroll.getScrollTop();
                        if(curScrollTop>=curMescroll.optUp.toTop.offset){
                            curMescroll.showTopBtn();
                        }else{
                            curMescroll.hideTopBtn();
                        }
                    }
                    //更新标记
                    curNavIndex=i;
                }

            });
            $(".hdNav_cai li").click(function () {
                var _this = $(this),
                    i = _this.attr("data-index");

                if (curNavIndex != i) {
                    _this.addClass("current").siblings().removeClass("current");
                    //隐藏当前列表和回到顶部按钮
                    $("#mescroll"+curNavIndex).hide();
                    mescrollArr[curNavIndex].hideTopBtn();
                    //显示对应的列表
                    $("#mescroll"+i).show().siblings().hide();
                    //取出菜单所对应的mescroll对象,如果未初始化则初始化
                    if(mescrollArr[i]==null){
                        mescrollArr[i]=initMescroll("mescroll"+i, "datalist"+i);
                    }else{
                        //检查是否需要显示回到到顶按钮
                        var curMescroll=mescrollArr[i];
                        var curScrollTop=curMescroll.getScrollTop();
                        if(curScrollTop>=curMescroll.optUp.toTop.offset){
                            curMescroll.showTopBtn();
                        }else{
                            curMescroll.hideTopBtn();
                        }
                    }
                    //更新标记
                    curNavIndex=i;
                }

            });

            /*创建MeScroll对象*/
            function initMescroll(mescrollId,clearEmptyId){

                var mescroll = new MeScroll(mescrollId, {
                    //上拉加载的配置项
                    up: {
                        callback: getListData,
                        isBounce: false, //此处禁止ios回弹
                        noMoreSize: 1,
                        empty: {
                            icon: "/images/null.png",
                            tip: "暂无计划~",
                            //btntext: "去逛逛 >", //按钮,默认""
                            //btnClick: function() {
                            //    alertmsg("去逛逛");
                            //}
                        },
                        page: {
                            size:10
                        },
                        clearEmptyId: clearEmptyId
                    }
                });
                return mescroll;
            }

            /*加载列表数据 */
            function getListData(page) {
                //联网加载数据
                var dataIndex=curNavIndex; //记录当前联网的nav下标,防止快速切换时,联网回来curNavIndex已经改变的情况;
                getListDataFromNet(dataIndex, page.num, page.size, function(pageData,hasNextPage){
                    console.log("dataIndex="+dataIndex+", curNavIndex="+curNavIndex+", page.num="+page.num+", page.size="+page.size+", pageData.length="+pageData.length);
                    mescrollArr[dataIndex].endSuccess(pageData.length, hasNextPage);

                    //设置列表数据
                    buildHtml(pageData, dataIndex);
                }, function(){
                    //隐藏下拉刷新和上拉加载的状态;
                    mescrollArr[dataIndex].endErr();
                });
            }

            function getListDataFromNet(curNavIndex,pageIndex,pageSize,successCallback,errorCallback)
            {
                $.ajax({
                    type: 'GET',
                    data: {
                        uid: @userId,
                        ltype:@ltype,
                        winState:curNavIndex,
                        pageIndex: pageIndex,
                        pageSize: pageSize
                    },
                    url: '/Personal/GetPlan',
                    dataType: 'json',
                    success: function(res){

                        if (res.IsSuccess && res.Data) {
                            //回调
                            successCallback( res.Data.PageData,res.Data.HasNextPage);
                            
                            //alert($("#datalist0").height());

                        } else {
                            alertmsg("服务器繁忙");
                        }
                    },
                    error: errorCallback
                });
            }

        });

        function buildHtml(data, curNavIndex) {

            var itemList = [];
            var listDom=$("#datalist"+curNavIndex);

            $.each(data, function (index, item) {
                var itemHtml = '<dl class="details_DL">'
                    + '    <dt><a href="javascript:;"><img src="/images/' + item.LogoIndex + '.png"></a></dt>'
                    + '    <dd>'
                    + '    	<div class="details_ddRight">';
                if (item.WinState == 1) {
                    itemHtml += '        	<a href="/Plan/Post/'+item.lType+'" class="det_bj">编辑</a>'
                        + '            <h3 class="det_wkj">未开奖</h3>';
                } else if (item.WinState == 2) {
                    itemHtml += '<p>已开奖</p>';
                }
                itemHtml += '        </div>'
                + '        <div class="details_ddLeft">'
                + '            <h3><a href="javascript:;">' + item.LotteryTypeName + '</a></h3>'
                + '			 <p>第' + item.Issue + '期 </p>'
                + '        </div>'
                + '    </dd>'
                + '</dl>';

                itemList.push(itemHtml);
            });

            var html = itemList.join('');
            listDom.append(html);
        }

    </script>
</body>
</html>
