@{
    ViewBag.Title = "RewardRules";


    int platForm = ViewBag.Platform;
    string show = platForm == 1 ? "top:0;" : "";
}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>奖励规则</title>
    <link rel="stylesheet" type="text/css" href="@ViewBag.osshost/css/style.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>

<body>
@if (platForm != 1)
{
    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">奖励规则</a>
    </header>
    }
    <div class="Invitation_Box" style="@show">
        <div class="invitation-illustration-title">分享流程</div>
        <div class="invitation-illustration">
            <img src="@ViewBag.osshost/images/invitation_illustration.png" alt="分享流程图" />
        </div>
        <div class="invitation-desc">
            <h2>一、活动规则</h2>
            <p>1、邀请者邀请好友注册，邀请者可获得1～100金币奖励，受邀者可获得1～50金币奖励，同时受邀者注册后充值，邀请者可获得1%的反馈。</p>
            <p>2、受邀请邀请其好友注册，受邀者可获得1～100金币奖励，其好友可获得1～50金币奖励，此时除了受邀者可获得1%的反馈以外同时邀请者可获得1～50金币奖励。 如：A邀请好友B注册，A可获得1～100金币奖励，B可获得1～50金币奖励。同时B注册后充值，A可获得1%的反馈。 B 邀请好友C注册，B可获得1～100金币奖励，C可获得1～50金币奖励。A可获得1～50金币奖励。</p>
            <p>3、邀请好友注册还可获得查看券：老用户邀请新用户注册成功可获得查看券，新用户注册成功也可获得查看券；</p>
            <p>4、新用户使用查看券之前必须先关注高手，成为高手的粉丝才能使用查看券。</p>
            <h2>二、活动说明</h2>
            <p>1、用户通过万彩吧提供的分享路径邀请好友注册，受邀者在邀请链接中输入注册手机号并提交成功后即完成一次邀请。</p>
            <p>2、同一IP同一设备只可完成一个注册。</p>
            <p>3、所得奖励金币可用于站内点阅计划与打赏使用，但不能提现</p>
            <p>4、查看券来源于被邀请的新用户注册成功可获取1张查看券，老用户邀请新用户成功也可获得1张查看券， 非邀请首次注册成功的新用户可获得查看券1张。</p>
            <p>5、查看券用于免费查看付费高手计划，仅限当天有效。</p>
        </div>
    </div>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
