@model C8.Lottery.Model.UserInfo
@{
    ViewBag.Title = "Set";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-设置</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="~/css/dialog.css" rel="stylesheet" />
    <link href="~/css/head1.css" rel="stylesheet" />

    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/dialog.min.js"></script>
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/dialog.min.js"></script>
    <script src="~/js/yjp.js"></script>
    <script>


    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">设置</a>
    </header>
    <form action="/Personal/logOut" method="post">

        <div class="Set_Up">
            <ul class="Set_UpUl">
                <li>
                    <a id="logox" href="javascript:;">
                        <p class="UpUl_LpB f-l">头像</p>
                        <div class="UpUl_Rtu f-r">
                            @if (string.IsNullOrEmpty(Model.Headpath))
                            {
                                <img id="head" src="~/images/default_avater.png">
                            }
                            else
                            {
                                <img id="head" src="@Model.Headpath">
                            }


                        </div>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/SetNickName">
                        <p class="UpUl_LpA f-l">昵称</p>
                        <p class="UpUl_RpA f-r">@Model.Name</p>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/SetAutograph">
                        <p class="UpUl_LpA f-l">个性签名</p>
                        <p class="UpUl_RpA f-r">@Model.Autograph</p>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/SetSex">
                        <p class="UpUl_LpA f-l">性别</p>
                        <p class="UpUl_RpA f-r">
                            @if (Model.Sex == 0 || Model.Sex == null)
                            {
                                @:男
                        }
                            else
                            {
                                @:女
                        }
                        </p>
                        <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a href="/Personal/ModifyPassword">
                        <p class="UpUl_LpA">修改密码</p>
                    </a>
                </li>
            </ul>
            @*<button class="Set_Upbtn" id="btnlogOut">退出登录</button>*@
            <input type="submit" class="Set_Upbtn" value="退出登录" />
        </div>
    </form>
  


    <article class="htmleaf-container">
        <div id="clipArea"></div>
        <div class="foot-use">
            <div class="uploader1 blue">
                <input type="button" name="file" class="button" value="打开">
                <input id="file" type="file" onchange="javascript:setImagePreview();" accept="image/*" multiple />
            </div>
            <button id="clipBtn">截取</button>
        </div>
        <div id="view"></div>
    </article>

    <script src="~/js/kcp/iscroll-zoom.js"></script>
    <script src="~/js/kcp/hammer.js"></script>
    <script src="~/js/kcp/jquery.photoClip.js"></script>
    <script>
var obUrl = ''
//document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
$("#clipArea").photoClip({
	width: 199,
	height: 166,
	file: "#file",
	view: "#view",
	ok: "#clipBtn",
	loadStart: function() {
		console.log("照片读取中");
	},
	loadComplete: function() {
		console.log("照片读取完成");
	},
	clipFinish: function (dataURL) {
	    img = dataURL;
	    $.post("/Personal/ReplacePhotos", { img: img }, function (result) {
	        console.log(result.data.RPath);
	        if (result.Success == true) {
	            $("#head").attr('src', result.data.RPath);
	            $(".htmleaf-container").hide();
	        } else {
	            alertmsg(result.Msg);
	        }
	       
	    });
	    console.log("====>" + dataURL);

	}
});
    </script>
    <script>
    $(function () {
       
    $("#logox").click(function ()
    {

        $(".htmleaf-container").show();
    })
   
});
    </script>
    <script type="text/javascript">
$(function(){
	jQuery.divselect = function(divselectid,inputselectid) {
		var inputselect = $(inputselectid);
		$(divselectid+" small").click(function(){
			$("#divselect ul").toggle();
			$(".mask").show();
		});
		$(divselectid+" ul li a").click(function(){
			var txt = $(this).text();
			$(divselectid+" small").html(txt);
			var value = $(this).attr("selectid");
			inputselect.val(value);
			$(divselectid+" ul").hide();
			$(".mask").hide();
			$("#divselect small").css("color","#333")
		});
	};
	$.divselect("#divselect","#inputselect");
});
    </script>
    <script type="text/javascript">
$(function(){
	jQuery.divselectx = function(divselectxid,inputselectxid) {
		var inputselectx = $(inputselectxid);
		$(divselectxid+" small").click(function(){
			$("#divselectx ul").toggle();
			$(".mask").show();
		});
		$(divselectxid+" ul li a").click(function(){
			var txt = $(this).text();
			$(divselectxid+" small").html(txt);
			var value = $(this).attr("selectidx");
			inputselectx.val(value);
			$(divselectxid+" ul").hide();
			$(".mask").hide();
			$("#divselectx small").css("color","#333")
		});
	};
	$.divselectx("#divselectx","#inputselectx");
});
    </script>
    <script type="text/javascript">
$(function(){
	jQuery.divselecty = function(divselectyid,inputselectyid) {
		var inputselecty = $(inputselectyid);
		$(divselectyid+" small").click(function(){
			$("#divselecty ul").toggle();
			$(".mask").show();
		});
		$(divselectyid+" ul li a").click(function(){
			var txt = $(this).text();
			$(divselectyid+" small").html(txt);
			var value = $(this).attr("selectyid");
			inputselecty.val(value);
			$(divselectyid+" ul").hide();
			$(".mask").hide();
			$("#divselecty small").css("color","#333")
		});
	};
	$.divselecty("#divselecty","#inputselecty");
});
    </script>
    <script type="text/javascript">
$(function(){
   $(".mask").click(function(){
	   $(".mask").hide();
	   $(".all").hide();
   })
	$(".right input").blur(function () {
		if ($.trim($(this).val()) == '') {
			$(this).addClass("place").html();
		}
		else {
			$(this).removeClass("place");
		}
	})
});
    </script>
    <script>

function getObjectURL(file) {
	var url = null ;
	if (window.createObjectURL!=undefined) { // basic
		url = window.createObjectURL(file) ;
	} else if (window.URL!=undefined) { // mozilla(firefox)
		url = window.URL.createObjectURL(file) ;
	} else if (window.webkitURL!=undefined) { // webkit or chrome
		url = window.webkitURL.createObjectURL(file) ;
	}
	return url ;
}
    </script>
 
    <script type="text/javascript">
function setImagePreview() {
    var preview, img_txt, localImag, file_head = document.getElementById("file_head"),

			picture = file_head.value;
	if (!picture.match(/.jpg|.gif|.png|.bmp/i)) return alert("您上传的图片格式不正确，请重新选择！"),
			!1;
	if (preview = document.getElementById("preview"), file_head.files && file_head.files[0]) preview.style.display = "block",
			preview.style.width = "63px",
			preview.style.height = "63px",
			preview.src = window.navigator.userAgent.indexOf("Chrome") >= 1 || window.navigator.userAgent.indexOf("Safari") >= 1 ? window.webkitURL.createObjectURL(file_head.files[0]) : window.URL.createObjectURL(file_head.files[0]);
	else {
		file_head.select(),
				file_head.blur(),
				img_txt = document.selection.createRange().text,
				localImag = document.getElementById("localImag"),
				localImag.style.width = "63px",
				localImag.style.height = "63px";
		try {
			localImag.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)",
					localImag.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = img_txt
		} catch(f) {
			return alert("您上传的图片格式不正确，请重新选择！"),
					!1
		}
		preview.style.display = "none",
				document.selection.empty()
	}
	return document.getElementById("DivUp").style.display = "block",
			!0
}
    </script>
</body>
</html>

