@model C8.Lottery.Model.UserInfo
@{
    ViewBag.Title = "SetAutograph";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-设置-设置签名</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <script src="~/js/jquery-1.8.3.min.js"></script>
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/dialog.min.js"></script>
    <script src="~/js/yjp.js"></script>
    <script>
        $(function () {

            set();
        });

        function set()
        {
            $("#btnsub").click(function () {
                var autograph = $("#autograph").val();
              
                if (autograph.trim().length >20) {
                    alertmsg("签名长度不能超过20");
                    return false;
                }

                $.post('/Personal/EditUser', { value: autograph, type: 2 }, function (data) {
                    if (data.Success != true) {
                        alertmsg(data.Msg);
                    } else {
                        location.href = '/Personal/Set';
                    }
                });
            });

        }

    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Set" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">设置签名</a>
        <a href="javascript:;" id="btnsub" class="SX_A">完成</a>
    </header>

    <div class="Set_Box">
        <ul class="Set_Bul1">
            <li><input type="text" id="autograph" value="@Model.Autograph" class="Bul1_iptA"><i class="Bul1_del"></i></li>
        </ul>
    </div>
  

</body>
</html>

