@model C8.Lottery.Model.UserInfo
@{
    ViewBag.Title = "SetNickName";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-设置-设置昵称</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <script src="~/js/jquery-1.8.3.min.js"></script>
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/dialog.min.js"></script>
    <script src="~/js/yjp.js"></script>

    <script>
        $(function () {
         
            set();

         
        });

        function set()
        {
            $("#btnsub").click(function () {
                var name = $("#name").val();
                if (name.trim().length== 0)
                {
                    alertmsg("昵称不能为空");
                    return false;
                    
                }
                if (name.trim().length > 8)
                {
                    alertmsg("昵称长度不能超过8");
                    return false;
                }
                $.post('/Personal/EditUser', { value: name, type: 1 }, function (data) {
                 
                    if (data.Success != true) {
                        alertmsg(data.Msg);
                    } else {
                        location.href = '/Personal/Set';
                    }
                });
            });
          
        }

    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Personal/Set" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">设置昵称</a>
        <a href="javascript:;" id="btnsub" class="SX_A">完成</a>
    </header>

    <div class="Set_Box">
        <ul class="Set_Bul1">
            <li><input type="text" id="name" value="@Model.Name" class="Bul1_iptA"><i class="Bul1_del"></i></li>
        </ul>
    </div>
   

</body>
</html>
