@{
    ViewBag.Title = "TaskRule";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>规则说明-赚钱任务</title>

    <link href="~/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/yjp.js"></script>
</head>

<body>

    <header class="hjc_header">
        <a href="/Personal/Task" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">赚钱任务规则说明</a>
    </header>

    <div class="Rule_box">
        <h3 class="Rule_title">赚钱任务规则说明:</h3>
        <p class="Rule_font1">玩法分类</p>
        <p class="Rule_font1">1、充值100元（0/1）</p>
        <p class="Rule_font2">用户日常完成充值任务均可获得奖励，充值满100元即可获得10金币，每日奖励上限为1次。</p>
        <p class="Rule_font1">2、邀请成功注册（0/8）</p>
        <p class="Rule_font2">用户日常完成邀请好友并且成功注册，邀请成功满8次即可获得1金币，每日奖励上限为1次。</p>
     
    </div>

</body>
</html>

