@{
    ViewBag.Title = "VoucherRules";
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>查看券规则</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>

<body>

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">查看券规则</a>
    </header>

    <div class="Invitation_Box">
        <div class="invitation-desc">
            <h2>获取方式</h2>
            <p>老用户邀请新用户注册成功可获得查看券，新用户注册成功也可获得查看券。</p>
        </div>
        <div class="invitation-illustration">
            <img src="~/images/w1.png" />
        </div>
        <div class="invitation-desc">
            <h2>使用说明</h2>
            <p>1、查看券来源于被邀请新用户注册成功可获取1张查看券，老用户邀请新用户成功也可获得1张查看券，非邀请首次注册成功新用户也可获得查看券1张。查看券当天有效，过期无效。</p>
            <p>2、查看券用于免费查看付费高手计划，使用查看券之前必须先关注高手，成为高手的粉丝才能使用查看券。</p>
        </div>
    </div>

</body>

</html>
