@{
    ViewBag.Title = "Voucher";
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>我的卡券</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

</head>

<body style="background:#eee;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">我的卡券</a>
        <a href="/Personal/VoucherRules" class="SX_A">规则</a>
    </header>

    <div class="My_KaJuanBox">
        <div class="KaJuanInfo">
            <div class="KJI_Top">
                <div class="KJI_Ttu"><img src="~/images/w4_1.png"></div>
                <dl class="KJI_Tdl">
                    <dt><img src="~/images/w3_1.png"></dt>
                    <dd>
                        <h3>查看券</h3>
                        <p>有效期至：2018.03.16 11:05 - 2018.03.17 11:15</p>
                    </dd>
                </dl>
            </div>
            <div class="KJI_Bt">
                <div class="KJI_Btu KJI_BtuL"><img src="~/images/w2_1.png"></div>
                <div class="KJI_Btu KJI_BtuR"><img src="~/images/w2_2.png"></div>
                <p class="KJI_BtFont">查看券来源于新用户注册成功可获取1张查看券，查看券当天有效，过期无效</p>
            </div>
        </div>
        <div class="KaJuanInfo">
            <div class="KJI_Top">
                <div class="KJI_Ttu"><img src="~/images/w4_1.png"></div>
                <dl class="KJI_Tdl">
                    <dt><img src="~/images/w3_1.png"></dt>
                    <dd>
                        <h3>查看券</h3>
                        <p>有效期至：2018.03.16 11:05 - 2018.03.17 11:15</p>
                    </dd>
                </dl>
            </div>
            <div class="KJI_Bt">
                <div class="KJI_Btu KJI_BtuL"><img src="~/images/w2_1.png"></div>
                <div class="KJI_Btu KJI_BtuR"><img src="~/images/w2_2.png"></div>
                <p class="KJI_BtFont">查看券来源于新用户注册成功可获取1张查看券，查看券当天有效，过期无效</p>
            </div>
        </div>
        <div class="KaJuanInfo">
            <div class="KJI_Top">
                <div class="KJI_Ttu"><img src="~/images/w4_1.png"></div>
                <dl class="KJI_Tdl">
                    <dt><img src="~/images/w3_1.png"></dt>
                    <dd>
                        <h3>查看券</h3>
                        <p>有效期至：2018.03.16 11:05 - 2018.03.17 11:15</p>
                    </dd>
                </dl>
            </div>
            <div class="KJI_Bt">
                <div class="KJI_Btu KJI_BtuL"><img src="~/images/w2_1.png"></div>
                <div class="KJI_Btu KJI_BtuR"><img src="~/images/w2_2.png"></div>
                <p class="KJI_BtFont">查看券来源于新用户注册成功可获取1张查看券，查看券当天有效，过期无效</p>
            </div>
        </div>
        <div class="KaJuanInfo">
            <div class="KJI_Top">
                <div class="KJI_Ttu"><img src="~/images/w4_2.png"></div>
                <dl class="KJI_Tdl">
                    <dt><img src="~/images/w3_2.png"></dt>
                    <dd>
                        <h3>查看券</h3>
                        <p>有效期至：2018.03.16 11:05 - 2018.03.17 11:15</p>
                    </dd>
                </dl>
            </div>
            <div class="KJI_Bt">
                <div class="KJI_Btu KJI_BtuL"><img src="~/images/w2_1.png"></div>
                <div class="KJI_Btu KJI_BtuR"><img src="~/images/w2_2.png"></div>
                <p class="KJI_BtFont">查看券来源于新用户注册成功可获取1张查看券，查看券当天有效，过期无效</p>
            </div>
        </div>
        <div class="KaJuanInfo">
            <div class="KJI_Top">
                <div class="KJI_Ttu"><img src="~/images/w4_2.png"></div>
                <dl class="KJI_Tdl">
                    <dt><img src="~/images/w3_2.png"></dt>
                    <dd>
                        <h3>查看券</h3>
                        <p>有效期至：2018.03.16 11:05 - 2018.03.17 11:15</p>
                    </dd>
                </dl>
            </div>
            <div class="KJI_Bt">
                <div class="KJI_Btu KJI_BtuL"><img src="~/images/w2_1.png"></div>
                <div class="KJI_Btu KJI_BtuR"><img src="~/images/w2_2.png"></div>
                <p class="KJI_BtFont">查看券来源于新用户注册成功可获取1张查看券，查看券当天有效，过期无效</p>
            </div>
        </div>
    </div>

</body>

</html>
