@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>个人中心-充值</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="@ViewBag.osshost/js/jquery.js"></script>
    <script type="text/javascript" src="@ViewBag.osshost/js/baidu-statistics.js"></script>
</head>

<body style="background:#F4F4F5;">
    <header class="hjc_header">
        <a href="/Personal/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">在线充值</a>
    </header>

    <div class="Recharge_Box">
        <div class="Recharge_info1">
            <div class="Recharge_if1K1">
                <div class="Rech_K1L f-l">
                    <div class="K1L_tu f-l"><img id="currentImg" src="/images/41_1.png"></div>
                    <h3 class="K1L_title f-l" id="currentText">微信充值</h3>
                    <div style="clear:both;"></div>
                </div>
                <div class="Rech_K1R f-r"><p>兑换比例：1元=1金币</p></div>
                <div style="clear:both;"></div>
            </div>
            <div class="Recharge_if1K2">
                <ul class="Recharge_UL">
                    <li class="current" data-Amount="20"><a href="javascript:;">20元</a></li>
                    <li data-Amount="100"><a href="javascript:;">100元</a></li>
                    <li data-Amount="500"><a href="javascript:;">500元</a></li>
                    <li data-Amount="1000"><a href="javascript:;">1000元</a></li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
            <div class="Recharge_if1K3">
                <p class="if1K3_Lp f-l">充值金额：</p>
                <p class="if1K3_Rp f-r">元</p>
                <div class="if1K3_text"><input type="number" value="20" id="txtAmount" placeholder="最低充值10元"></div>
            </div>
        </div>
        <button class="Set_btnMM" onclick="play()">充值</button>
        <div class="Recharge_info2">
            <h3 class="Recha_if2Tit">更多支付方式：</h3>
            <div class="Recha_if2Nav">
                <dl class="Recha_if2Dl">
                    <dt><img src="/images/41_1.png"></dt>
                    <dd data-value="1" class="current">
                        <h3>微信支付</h3>
                        <p>快速支付，免手续费</p>
                    </dd>
                </dl>
                <dl class="Recha_if2Dl">
                    <dt><img src="/images/41_2.png"></dt>
                    <dd data-value="2">
                        <h3>支付宝</h3>
                        <p>快速支付，免手续费</p>
                    </dd>
                </dl>
                @*<dl class="Recha_if2Dl">
                        <dt><img src="images/41_3.png"></dt>
                        <dd>
                            <h3>银联</h3>
                            <p>无需网银，有卡就能支付，免手续费</p>
                        </dd>
                    </dl>
                    <dl class="Recha_if2Dl">
                        <dt><img src="images/41_4.png"></dt>
                        <dd>
                            <h3>银行卡快捷支付</h3>
                            <p>无需网银，有卡就能支付，免手续费</p>
                        </dd>
                    </dl>*@
            </div>
        </div>
    </div>

    <div id="hideDiv" style="display:none"></div>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/RechargeIndex.js"></script>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>

