@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>资讯-6彩-开奖时间</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/c8-icon.css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
</head>

<body>

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">6彩-开奖时间</a>
    </header>

    <div class="smemu">
        <div class="sm-l">开奖日排期表</div>
        <div class="sm-b">印有粉色底即为开奖日！</div>
    </div>
    <div class="rq-box"></div>





    <script src="~/js/zepto.tap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/opendate.js"></script>

    <script type="text/javascript">
        var daTa;
        $.ajax({
            type: "GET",
            url: '/js/opendate.json',
            async: false,
            success: function (data) {
                daTa = data;
            }
        });
        var _djson = daTa;
    </script>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
