@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>排行榜_彩票开奖查询_彩票高手排行榜</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="/Home/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">排行榜</a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>

    <div class="hjc_indexmain" style="margin-top:50px;">
        <ul class="list_mainUl2 ranking">
            @*<li>
                    <div class="UL2_hd">
                        <a href="/List/New">
                            <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_01.png"></div>
                            <div class="UL2_hdtit">
                                <h3>最新榜</h3>
                                <div class="rating">
                                    <span>推荐指数：</span>
                                    <span>
                                        <i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="UL2_hdicon"></span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="UL2_hd">
                        <a href="javascript:;">
                            <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_02.png"></div>
                            <div class="UL2_hdtit">
                                <h3>连中榜</h3>
                                <div class="rating">
                                    <span>推荐指数：</span>
                                    <span>
                                        <i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="UL2_hdicon"></span>
                        </a>
                    </div>
                </li>*@
            <li>
                <div class="UL2_hd">
                    <a href="/List/Integral">
                        <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_03.png"></div>
                        <div class="UL2_hdtit">
                            <h3>积分榜</h3>
                            <div class="rating">
                                <span>推荐指数：</span>
                                <span>
                                    <i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
                                </span>
                            </div>
                        </div>
                        <span class="UL2_hdicon"></span>
                    </a>
                </div>
            </li>
            <li>
                <div class="UL2_hd">
                    <a href="/Personal/FansBang">
                        <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_04.png"></div>
                        <div class="UL2_hdtit">
                            <h3>粉丝榜</h3>
                            <div class="rating">
                                <span>推荐指数：</span>
                                <span>
                                    <i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
                                </span>
                            </div>
                        </div>
                        <span class="UL2_hdicon"></span>
                    </a>
                </div>
            </li>
            <li>
                <div class="UL2_hd">
                    <a href="/List/Profit">
                        <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_05.png"></div>
                        <div class="UL2_hdtit">
                            <h3>盈利榜</h3>
                            <div class="rating">
                                <span>推荐指数：</span>
                                <span>
                                    <i class="icon_star"></i><i class="icon_star"></i>
                                </span>
                            </div>
                        </div>
                        <span class="UL2_hdicon"></span>
                    </a>
                </div>
            </li>
            <li>
                <div class="UL2_hd">
                    <a href="/List/Gratuity">
                        <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_06.png"></div>
                        <div class="UL2_hdtit">
                            <h3>打赏榜</h3>
                            <div class="rating">
                                <span>推荐指数：</span>
                                <span>
                                    <i class="icon_star"></i>
                                </span>
                            </div>
                        </div>
                        <span class="UL2_hdicon"></span>
                    </a>
                </div>
            </li>
            @*<li>
                    <div class="UL2_hd">
                        <a href="javascript:;">
                            <div class="UL2_hdtu f-l"><img src="/images/ranking_icon_07.png"></div>
                            <div class="UL2_hdtit">
                                <h3>答题榜</h3>
                                <div class="rating">
                                    <span>推荐指数：</span>
                                    <span>
                                        <i class="icon_star"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="UL2_hdicon"></span>
                        </a>
                    </div>
                </li>*@
        </ul>
    </div>


    <!--侧边栏-->
    <div class="ZX_CLBox">
        <div class="CLB_YY"></div>
        <div class="CLB_con">
            <ul class="CLB_cNav">
                <!--cNav_current-->
                <li>
                    <a href="/Home/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_1.png"></dt>
                            <dd>
                                <p>首页</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Open">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_2.png"></dt>
                            <dd>
                                <p>开奖</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                @*<li>
                        <a href="JavaScript:;">
                            <dl class="cNav_Dl">
                                <dt><img src="/images/w6_4.png"></dt>
                                <dd>
                                    <p>走势</p>
                                    <img src="/images/w7.png">
                                    <div style="clear:both;"></div>
                                </dd>
                            </dl>
                        </a>
                    </li>*@
                <li>
                    <a href="/Home/Plan">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_3.png"></dt>
                            <dd>
                                <p>计划</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_04.png"></dt>
                            <dd>
                                <p>排行</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Talking/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_5.png"></dt>
                            <dd>
                                <p>聊天</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Expert">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_06.png"></dt>
                            <dd>
                                <p>高手</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/News/Index/2">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_07.png"></dt>
                            <dd>
                                <p>资讯</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
