<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!--<section name="RedisConfig" type="System.Configuration.IConfigurationSectionHandler, System.Configuration" />-->
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />

    <!--缓存类型 localcache\memcached\redis-->
    <add key="CacheProvider" value="redis" />
    <!--缓存默认过期时间(分钟)-->
    <add key="CacheTimeOut" value="30" />
    <!--Memcached 地址配置-->
    <add key="MemcachedServerList" value="127.0.0.1:11111" />
    <!--Redis 地址配置-->
    <add key="WriteServerConStr" value="qxdev888@120.79.202.109:6379" />
    <add key="ReadServerConStr" value="qxdev888@120.79.202.109:6379" />
    <add key="MaxWritePoolSize" value="60" />
    <add key="MaxReadPoolSize" value="60" />
    <add key="AutoStart" value="true" />
    <add key="LocalCacheTime" value="180" />
    <add key="RecordeLog" value="false" />

    <!--腾讯云万彩吧短信 地址配置-->
    <add key="sdkappid" value="1400040575" />
    <add key="appkey" value="eb5005910142d1edbb20baddd0e8ca08" />
    <!--最小提款金额-->
    <add key="minExtractCash" value="100" />

    <!--金币现金转换比例,如1元等于10金币-->
    <add key="MoneyToCoin" value="10" />
    
    <!--WebSocket服务器地址加端口  ws://119.147.139.131:8801/-->
    <add key="WebSocketUrl" value="ws://119.147.139.131:8801/" />

    <!--接口服务器地址加端口  http://119.147.139.131:8088/api/-->
    <add key="InterfaceUrl" value="http://api2.c8.cn/api/" />
    <add key="debug" value="1"/>
    <add key="WebDomain" value="c8.cn"/>
    <!--js cdn配置地址 http://oss.c8.cn/c8/res-->
    <add key="osshost" value=""/>

    <add key="FriendshipLinks" value="false"/>
    <!--针对分享 是否https访问-->
    <add key="ishttps" value="http"/>
    
  </appSettings>


  <connectionStrings>

    <add name="connStr" connectionString="Data Source=119.147.139.131,3433;Initial Catalog=C8;User ID=c8sa;Password=c8sa20180402;" />
    <!--<add name="connStr" connectionString="Data Source=.;Initial Catalog=C8;User ID=sa;Password=123456;" />-->

  </connectionStrings>

  <log4net configSource="App_Data\log4net.config" />
  <!--<RedisConfig WriteServerList="120.79.202.109:6379" ReadServerList="120.79.202.109:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false" />-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.web>
    <customErrors mode="Off" defaultRedirect="/Home/Index">
      <error statusCode="404" redirect="/Home/Index"/>
    </customErrors>

    <httpRuntime targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>