<footer class="hjc_footer" style="margin-top: -5px; background: #eee;">
    <div class="hjc_ftNav">
        <p>深圳市球讯网络科技有限公司</p>
        <p>版权所有 粤ICP备14066812号-1</p>
        <p>本站仅提供国家彩票开奖信息查询，不提供任何彩票销售业务。</p>
        <p>万彩吧提醒您：理性购彩，热心公益。未满18周岁的未成年人禁止购彩及兑奖！</p>
    </div>
</footer>