@using Newtonsoft.Json;
@{
    ViewBag.Title = "Register";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>注册-万彩吧_快3_11选5_快乐10分_3d_彩票开奖查询</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    <script src="~/js/jquery-1.8.3.min.js"></script>
    <link href="~/css/dialog.css" rel="stylesheet" />
    <script src="~/js/dialog.min.js"></script>
    <script src="~/js/yjp.js"></script>
    <script>
        $(function () {


            BindsendMsgClick();


            setInterval('runTime();', 1000);
            reg();

        });


        function runTime() {
            var text = $('#sendMsg').text();
            if (text.indexOf('s') != -1) {
                text = text.substr(0, text.length - 1);

                var sec = parseInt(text);

                if (sec == 1) {
                    $('#sendMsg').text('点击免费获取');
                } else {
                    $('#sendMsg').text((sec - 1) + 's');
                }
            }
        }




        function BindsendMsgClick() {
            $('#sendMsg').click(function () {

                //$(this).hide();
                var text = $(this).text();

                if (text == '点击免费获取') {


                    var mobile = $('#mobile').val();

                    if (mobile != '') {
                        $(this).text('60s');

                        $.post('/Home/GetCode', { mobile: mobile }, function (data) {
                            if (data != true) {
                                alertmsg("验证码获取失败");
                            }
                        });
                    } else {
                        alertmsg('手机号不能为空');
                    }
                }


            });
        }

        function reg() {
            $('#btnreg').click(function(){
                var mobile = $('#mobile').val();
                var password = $('#password').val();
                var name=$('#name').val();
                var vcode = $('#vcode').val();
                var vData=@Html.Raw(JsonConvert.SerializeObject(ViewData));
                //var hid = $("#hid").val();
                var inviteid = vData["id"];
                if (mobile.length == 0) {
                    alertmsg("手机号不能为空");
                    return false;
                }
                if(name.trim().length==0)
                {
                    alertmsg("昵称不能为空");
                    return false;
                }
                if (password.length == 0) {
                    alertmsg("密码不能为空");
                    return false;
                } else if (password.length < 6 || password.length > 12) {
                    alertmsg("密码长度为6-12位");
                    return false;
                }

                if (vcode.length == 0) {
                    alertmsg("验证码不能为空");
                    return false;
                }
                $.post('/Home/Create', { mobile: mobile,name:name, password: password, vcode: vcode, inviteid: inviteid }, function (data) {

                    if (data.Success!=true) {
                        alertmsg(data.Msg);

                    } else {
                        location.href = '/Personal'//跳转地址
                    }

                });


            });
        }





    </script>
</head>

<body style="background:#F4F4F5;">

    <header class="hjc_header">
        <a href="javascript:history.go(-1);" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo"><img src="~/images/03.png"></a>
        <a href="/Home/Login" class="hjc_login">登录</a>
    </header>

    <div class="DL_main">
        <div class="DL_info1">
            <ul class="DL_if1UL">
                <li>
                    <p class="DL_icon DL_icon1 f-l"></p>
                    <div class="UL_kuai1">
                        <input type="text" id="mobile" placeholder="输入手机号" class="DL_ipt1">
                    </div>
                </li>

                <li>
                    <p class="DL_icon DL_icon4 f-l"></p>
                    <div class="UL_kuai1">
                        <input type="text" id="name" placeholder="输入昵称" class="DL_ipt1">
                    </div>
                </li>

                <li>
                    <p class="DL_icon DL_icon2 f-l"></p>
                    <div class="UL_kuai1">
                        <input type="password" id="password" placeholder="输入密码" class="DL_ipt1">
                    </div>
                </li>
                <li>
                    <p class="DL_icon DL_icon3 f-l"></p>
                    <div class="UL_kuai1">
                        <div class="DL_yzm f-l">
                            <input type="text" id="vcode" placeholder="输入短信验证码" class="DL_ipt1">
                        </div>
                        <a href="javascript:;" id="sendMsg" class="DL_HQ f-r">点击免费获取</a>
                        <div style="clear:both;"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="DL_info2">
            <input type="button" id="btnreg" class="DL_if2btn" value="注册">
        </div>
        <div class="DL_info5">
            注册表明您已满18岁并同意<a href="javascript:;">《万彩吧服务协议》</a>
        </div>
        <!--<div class="DL_info4">
            客服热线：<a href="javascript:;">4009-9798-38</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;">在线客服</a>
        </div>-->
    </div>

</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>