@{
    Layout = null;
}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>聊天室_彩票交流_彩票聊天室</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/c8-icon.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/yjp.js"></script>
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
</head>

<body style="background: #eee;">
    <header class="hjc_header">
        <a href="/home/Index" class="hjc_back"></a>
        <a href="javascript:;" class="hjc_logo">聊天室列表</a>
        <a href="javascript:;" class="ZX_Sidebar"></a>
    </header>
    <div class="hjc_chatroom">
        <ul class="chatroom_ul">

            @* <li>
                    <a href="/Talking/ChatRoom/2">
                        <i><img src="/images/icon_chatroom_02.png"></i>
                        <p>答题聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/3">
                        <i><img src="/images/icon_chatroom_03.png"></i>
                        <p>双色球聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/4">
                        <i><img src="/images/icon_chatroom_04.png"></i>
                        <p>福彩3D聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/5">
                        <i><img src="/images/icon_chatroom_05.png"></i>
                        <p>排列三聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/6">
                        <i><img src="/images/icon_chatroom_06.png"></i>
                        <p>排列五聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/7">
                        <i><img src="/images/icon_chatroom_07.png"></i>
                        <p>六合彩聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/8">
                        <i><img src="/images/icon_chatroom_08.png"></i>
                        <p>十一选五聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/9">
                        <i><img src="/images/icon_chatroom_09.png"></i>
                        <p>快乐十分聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/10">
                        <i><img src="/images/icon_chatroom_10.png"></i>
                        <p>时时彩聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/11">
                        <i><img src="/images/icon_chatroom_11.png"></i>
                        <p>快三聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/12">
                        <i><img src="/images/icon_chatroom_12.png"></i>
                        <p>幸运飞艇聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/13">
                        <i><img src="/images/icon_chatroom_13.png"></i>
                        <p>北京赛车聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/14">
                        <i><img src="/images/icon_chatroom_14.png"></i>
                        <p>七星彩聊天室</p>
                    </a>
                </li>
                <li>
                    <a href="/Talking/ChatRoom/15">
                        <i><img src="/images/icon_chatroom_15.png"></i>
                        <p>七乐彩聊天室</p>
                    </a>
                </li>*@
            <div style="clear:both;"></div>
        </ul>
    </div>

    <!--侧边栏-->
    <div class="ZX_CLBox">
        <div class="CLB_YY"></div>
        <div class="CLB_con">
            <ul class="CLB_cNav">
                <!--cNav_current-->
                <li>
                    <a href="/Home/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_1.png"></dt>
                            <dd>
                                <p>首页</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Home/Open">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_2.png"></dt>
                            <dd>
                                <p>开奖</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                @*<li>
                <a href="JavaScript:;">
                    <dl class="cNav_Dl">
                        <dt><img src="/images/w6_4.png"></dt>
                        <dd>
                            <p>走势</p>
                            <img src="/images/w7.png">
                            <div style="clear:both;"></div>
                        </dd>
                    </dl>
                </a>
            </li>*@
                <li>
                    <a href="/Home/Plan">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_3.png"></dt>
                            <dd>
                                <p>计划</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_04.png"></dt>
                            <dd>
                                <p>排行</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/Talking/Index">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/w6_5.png"></dt>
                            <dd>
                                <p>聊天</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/List/Expert">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_06.png"></dt>
                            <dd>
                                <p>高手</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="/News/Index/2">
                        <dl class="cNav_Dl">
                            <dt><img src="/images/grids_icon_07.png"></dt>
                            <dd>
                                <p>资讯</p>
                                <img src="/images/w7.png">
                                <div style="clear:both;"></div>
                            </dd>
                        </dl>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $.post("/Talking/GetChatRoomList", {}, function (data) {
                if (data != undefined && data != null) {
                    var lis = "";
                    $(data).each(function () {
                        lis += "<li>"
                        lis += "   <a href='/Talking/ChatRoom?roomId=" + this.Id + "&roomName=" + this.Name + "'>"
                        lis += "       <i><img src='" + this.LogoPath + "'></i>"
                        lis += "       <p>" + this.Name + "</p>"
                        lis += "   </a>"
                        lis += "</li>"
                    });
                    $(".chatroom_ul").find("div").before(lis);
                }
            });
        });
    </script>
</body>
@{Html.RenderAction("index", "PvUvIp");}
</html>