@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <title>首页</title>
    <link rel="stylesheet" href="/css/Chat/common.css">
    <link rel="stylesheet" href="/css/Chat/base.css" />
    <link rel="stylesheet" href="/css/Chat/index.css" />
    <script type="text/javascript" src="/js/baidu-statistics.js"></script>
</head>
<body>
    <!--页面内容-->
    <div class="layout">
        @*<header class="topBarBox">
                <div class="topBar topBar_record">
                    <a href="/Talking/ChatRoom/@ViewBag.RoomId" class="a_back"></a>
                    <h3>
                        <p class="title">处理记录</p>
                    </h3>
                    <a href="/Talking/BlackList/@ViewBag.RoomId" class="a_gl">拉黑列表</a>
                </div>
            </header>*@

        <header class="header">
            <a href="/Talking/ChatRoom?roomId=@ViewBag.RoomId&roomName=@ViewBag.RoomName" class="a_back"></a>
            <div class="h_title">
                <h1>处理记录</h1>
            </div>
            @if (ViewBag.IsAdmin == true)
            {
                <a href="/Talking/BlackList?roomId=@ViewBag.RoomId&roomName=@ViewBag.RoomName" class="a_gl" style="width:auto;margin-right: 10px; right: 0;">拉黑列表</a>
            }
        </header>
        <main class="main" id="main">
        </main>
    </div>

    <script src="/Scripts/jquery-1.8.0.min.js"></script>
    <script type="text/javascript">
        var isBottom = false;
        var roomId=@ViewBag.RoomId;
  
    </script>
    <script type="text/javascript" src="@ViewBag.osshost/js/ossjs/ManagementList.js"></script>


</body>

@{Html.RenderAction("index", "PvUvIp");}
</html>
